body{
  font-family: sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.contact-form{
   background: #fff;
   padding: 30px 40px;
   border-radius: 12px;
   box-shadow:  0 2px 15px ;
   width: 100%;
   max-width: 400px;
}
.contact-form h2{
   text-align: center;
   font-weight: 600;
   margin-bottom: 20px;
   color: blue;
}
.contact-form label{
   display: block;
   margin-bottom: 6px;
   font-weight: 500;
   color: #555;
}
.contact-form input{
   width: 100%;
   padding: 10px 12px;
   margin-bottom: 15px;
   border-radius: 8px;
   font-size: 14px;
}
.contact-form button {
   width: 50%;
   background: rgb(248, 3, 3);
   color:white;
   border: none;
   padding: 12px;
   border-radius: 8px;
   font-size: 16px;
}